<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
    <label for="name">User Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="User Name">
    <label for="email">User Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="mail@mail.com">
    <label for="number">User Number</label>
    <input type="text" th:field="*{number}" id="number" placeholder="+380XXXXXXXXX">
    <input type="submit" value="Create User">
</form>
</body>
</html>